[Desktop Entry]
Name=CPU Control
Comment=Monitor CPU temperature and control performance limit
Icon=cpu
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-FormFactors=panel,desktop
X-KDE-PluginInfo-Name=org.kde.plasma.cpucontrol
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Author=Andres Garcia
X-KDE-PluginInfo-Email=andresgarcia0313@gmail.com
X-KDE-PluginInfo-Version=2.0.0
X-KDE-PluginInfo-License=MIT
